{% extends 'tournament/base.html' %}

{% load bootstrap5 %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}

<form role="form" class="col-lg-6 offset-lg-3" method="post">
    <div class="justify-content-center">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </div>
</form>
<div class="mr-auto"> Nie jesteś użytkownikiem? </div>
<a class="btn btn-primary" href="{% url 'register' %}" role="button"> Zarejestruj się </a>

{% else %}

<div class="mr-auto"> Cześć {{ user.get_username }} </div>
<a class="btn btn-outline-warning" href="{% url 'logout' %}" role="button"> Wyloguj się </a>

{% endif %}
{% endblock %}