{% extends "tournament/base.html" %}

{% load static %}

{% block title %} Tournament App - Home {% endblock %}

{% block content %}

<section id='list-section' style="background-color: #F4F4F4;  margin-top: 50px; padding-bottom: 200px;">
  <h1 style="text-align: center; padding-top: 50px; color: #707070;">Last added</h1>
  <div style="padding-top: 30px; padding-left: 15px; padding-right: 15px;">
    {% for tournament in last_tournaments %}
    <div class="row"
      style="margin-top: 30px; max-width: 800px; min-width: 200px; min-height: 50px; background-color: white; margin-left: auto; margin-right: auto;">
      <div class="col-md-5" style="background-color: #3F3D56; padding-left: 0; padding-right: 0;">
        <img style="width: 100%; height: auto;" aria-label="tournament image" src="{% static tournament.game.img_path %}" />
      </div>
      <div class="col-md-7" style="padding: 20px ;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-5">
            <div style="font-weight: 500;">
              Name: {{ tournament.name }}
            </div>
            <div>
              Game: {{ tournament.game.name }}
            </div>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-3">
            Start {{ tournament.start_date }}
          </div>
          <div class="col-sm-3">
            End {{ tournament.end_date }}
          </div>
        </div>
        <div style="margin-top: 50px;">
          {{ tournament.location }}
        </div>
        <div style="margin-top: 50px;">
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6" style="text-align: right;">
              <button class="btn btn-primary">Check more info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
