{% extends "tournament/base.html" %}
{% block content %}
{% if not request.user.is_authenticated %}
<form class="form-group my-2 my-lg-0 mr-auto" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-outline-success">Zaloguj</button>
</form>
<div class="mr-auto"> Nie jesteś użytkownikiem? </div>
<a class="btn btn-outline-success" href="{% url 'register' %}" role="button"> Zarejestruj się </a>
{% else %}
<div class="mr-auto"> Cześć {{ user.get_username }} </div>
<a class="btn btn-outline-success" href="{% url 'logout' %}" role="button"> Wyloguj się </a>
{% endif %}
{% endblock %}
