{% extends "tournament/base.html" %}
{% block content %}
{% if not request.user.is_authenticated %}
<form class="form-group my-2 my-lg-0 mr-auto" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-success">Zarejestruj się</button>
</form>
<div class="mr-auto"> Jesteś już użytkownikiem? </div>
<a class="btn btn-primary" href="{% url 'login' %}" role="button"> Zaloguj się </a>
{% else %}
<div class="mr-auto"> Cześć {{ user.get_username }} </div>
<a class="btn btn-warning" href="{% url 'logout' %}" role="button"> Wyloguj się </a>
{% endif %}
{% endblock %}
