{% extends "tournament/base.html" %}

{% block title %}Tournament App - Tournament details - {{object.name}}{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/bracket.css' %}">

<div class="card text-center">
  <div class="card-header">
    <h1 class="text-center m-2 mb-4 display-5">{{object.name}}</h1>
  </div>
  <div class="align-items-center">
    <img src="{% static object.game.img_path %}" height="200" style="max-width: 400px;height: auto;"
      class="card-img-top" alt="Game image">
  </div>
  <div class="card-body">
    <h5 class="card-title">Game: {{object.game.name}}</h5>
    <p class="card-text">{{object.description|default:'<span class="font-italic text-muted">Description was not provided</span>'}}</p>
    <div class="align-items-center row">
      <div class="col"></div>
      <ul class="list-group list-group col">
        <li class="list-group-item disabled">Referees</li>
        {% for referee in object.referee_list.all %}
              <li class="list-group-item">{{referee}}</li>
        {% endfor %}
      </ul>
      <div class="col"></div>
    </div>
    <div class="accordion my-3" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Teams:
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <div class="list-group">
              {% for team in object.team_list.all %}
              <a href="{{team.url}}" class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">
                {{team.name}}
                {% if team.members.count == 0 %}
                <span class="badge bg-secondary rounded-pill">No team members</span>
                {% elif team.members.count == 1 %}
                <span class="badge bg-primary rounded-pill">1 team member</span>
                {% else %}
                <span class="badge bg-primary rounded-pill">{{team.members.count}} team members</span>
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    <ul class="list-group my-2">
      <li class="list-group-item bg-light"><span class="text-muted">Location: </span><span class="fw-bold">{{object.location}}</span></li>
      <li class="list-group-item bg-light"><span class="text-muted">Date: </span><span class="fw-bold">{{object.start_date}} - {{object.end_date}}</span></li>
      <li class="list-group-item bg-light"><span class="text-muted">Elimination: </span><span class="fw-bold">{{object.type_of_elimination}}</span></li>
    </ul>
  </div>
</div>

{% if object.type_of_elimination == "KNOCKOUT" %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <main id="tournament">
        {% for round in rounds %}
        <ul class="round">
          {% for match in round %}
            <li class="spacer">&nbsp;</li>
            {% if match.winner_team == match.team_A %}
              <a href="{{match.url}}" class="text-decoration-none" ><li class="game game-top winner">{% if match.team_A %}{{ match.team_A }} <span>{{match.team_A_score}}</span>{% endif %}</li></a>
              <li class="game game-spacer">&nbsp;</li>
              <a href="{{match.url}}" class="text-decoration-none"><li class="game game-bottom ">{% if match.team_B %}{{ match.team_B }} <span>{{match.team_B_score}}</span>{% endif %}</li></a>
            {% elif match.winner_team == match.team_B %}
              <a href="{{match.url}}" class="text-decoration-none"><li class="game game-top ">{% if match.team_A %}{{ match.team_A }} <span>{{match.team_A_score}}</span>{% endif %}</li></a>
              <li class="game game-spacer">&nbsp;</li>
              <a href="{{match.url}}" class="text-decoration-none"><li class="game game-bottom winner">{% if match.team_B %}{{ match.team_B }} <span>{{match.team_B_score}}</span>{% endif %}</li></a>
            {% else %}
              <a href="{{match.url}}" class="text-decoration-none"><li class="game game-top ">{% if match.team_A %}{{ match.team_A }} <span>{{match.team_A_score}}</span>{% endif %}</li></a>
              <li class="game game-spacer">&nbsp;</li>
              <a href="{{match.url}}" class="text-decoration-none"><li class="game game-bottom ">{% if match.team_B %}{{ match.team_B }} <span>{{match.team_B_score}}</span>{% endif %}</li></a>
            {% endif %}
          {% endfor %}
          <li class="spacer">&nbsp;</li>
        </ul>
        {% endfor %}
      </main>
    </div>
    <div class="col col-lg-2 align-self-center h3">
      {% if final.winner_team %}
      <a href="{{final.winner_team.url}}"><span class="badge rounded-pill bg-warning text-dark">{{ final.winner_team }}</span></a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
